div.container {
    height: 93vh; /* Set height to 100% of viewport height */

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 255);
    border: 5px solid rgb(100, 0, 100);
}

div.box {
    position: absolute;
    //right: 0;
    top: 50px;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 0, 0);
}