ion-content {
    --background: url(../../../assets/images/ciudad1.jpg) no-repeat center center / cover;
    --overflow: hidden;
}

div.container {
    height: 93vh; /* Set height to 100% of viewport height */

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.397);
    border: 5px solid rgb(100, 0, 100);
}

div.box {
    position: absolute;
    //right: 0;
    top: 50px;
    width: 100px;
    height: 100px;
    //background-color: rgb(255, 0, 0);
}