<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Juego de movimiento Kinético</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <h1>Super Héroes</h1>
    
    <img src="../../../assets/icon_superheroes_png.png" alt="Logo" style="max-width: 50%; max-height: 50%; margin: auto;
    margin-bottom: -10px; display: block; margin-top: 40px; ">

    <form class="needs-validation" [formGroup]="formLog">
      <ion-input fill="solid" shape="round" placeholder="Correo" type="email"  formControlName="email"></ion-input>
      <ion-input fill="solid" shape="round" placeholder="Clave" type="password" formControlName="password"></ion-input>
      <ion-button class="login" expand="block" (click)="this.iniciarSesion()">JUGAR</ion-button>
    </form>

    <div *ngIf="this.cargaFin == true; then mostrar else esperar"></div>

    <ng-template #mostrar>
      <ion-button class="quick" *ngFor="let item of arrayTestUsers" (click)="onQuickUser(item)">
        {{ item.perfil | titlecase }}
      </ion-button>
    </ng-template>

    <ng-template #esperar>
      <ion-button class="quick">Cargando...</ion-button>
      <ion-button class="quick">Cargando...</ion-button>
      <ion-button class="quick">Cargando...</ion-button>
    </ng-template>
  </div>
</ion-content>
