<ion-header>
  <ion-toolbar>
    <ion-title>
      JUEGO CINETICO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home">
    <ion-button class="marvel" expand="block">marvel</ion-button>

    <ion-button class="dcComics" expand="block">dc</ion-button>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="danger" (click)="cerraSesion()"><ion-icon name="power-sharp" size="large"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>
