
div.home {
  height: 100%;
  width: 100%;
}

ion-content {
  --overflow: hidden;
  --background: rgb(0, 88, 104);
}

ion-button {
  display: block;
  height: 48%;
  text-transform: initial;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 2rem;
  font-weight: 600;
}
.marvel {
  --background: linear-gradient(#e2001a, #c50219);
}
.dcComics {
  --background: linear-gradient(#0376f2, #0365ce);
}
