<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Elíge a tu Héroe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="this.showTeam == true" class="home">
    <ion-button class="comic marvel" expand="block" (click)="this.chooseTeam('marvel')">
      <img src="../../../assets/images/MARVEL.png" alt="MARVEL">
    </ion-button>

    <ion-button class="comic dcComics" expand="block" (click)="this.chooseTeam('dc')">
      <img src="../../../assets/images/DC.png" alt="DC Comics">
    </ion-button>
  </div>

  <div *ngIf="this.showHeroes == true" class="home">
    <ion-button *ngFor="let heroe of displayArray; let i = index" class="heroe {{ heroe.class }}" expand="block" (click)="this.chooseHero(heroe.hero)">
      <img src="../../../{{ heroe.logo }}">
    </ion-button>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button style="height: 55px; width: 140px;" fill="solid" color="danger" aria-label="Logout" (click)="cerraSesion()">cerrar sesion</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="height: 55px; width: 140px;" fill="solid" color="tertiary" aria-label="Logout" (click)="showPuntos()">Ver puntaje</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
